@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
	--background: #11151C;
	--foreground: #ffffff;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background-color: var(--background);
	color: var(--foreground);
	overflow-x: hidden;
}

.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #11151CBB;
	z-index: 999;
}

.navbar-buttons-pc{
	display: none;
}

.navbar-left{
	display: flex;
	align-items: center;
}

.navbar-button-menu{
	position: absolute;
	right: 1rem;
	display: flex;
	align-items: center;
}

.navbar-buttons-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 3.6rem;
	overflow: hidden;
	gap: 1rem;
	background-color: #11151CBB;
	height: 0;
}

.navbar-buttons-menu a{
	color: var(--foreground);
	height: 3rem;
	width: 10rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes nav_open{
	0% {height: 0px;}
	100% {height: calc(100vh - 3.6rem);}
}

@keyframes nav_closed{
	0% {height: calc(100vh - 3.6rem);}
	100% {height: 0px;}
}

.nav_open{
	animation: nav_open 0.5s;
	height: calc(100vh - 3.6rem);
}

.nav_closed{
	animation: nav_closed 0.5s;
	height: 0px;
}

.navbar-left:hover{
	cursor: pointer;
}

.navbar-logo{
	font-weight: 600;
	font-size: 2rem;
}

.register{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10rem;
	height: 10%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	font-weight: 600;
	background: var(--background);
	box-shadow: 0 0 50px 10px #31047B;
	z-index: 998;
}

.register-stick{
	position: fixed;
	bottom: initial;
	top: 5rem;
}

.register-now{
	/* position: absolute; */
	/* left: 3.75rem; */
	height: 3rem;
	width: 10rem;
	border-radius: 25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}

.register-now:hover{
	cursor: pointer;
	background: #5D5FEF;
}

.register-right{
	position: absolute;
	display: flex;
	gap: 1.8rem;
	right: 1.8rem;
}

section{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home{
	height: 150vh;
}

.home-container{
	position: relative;
	top: -7rem;
	height: auto;
	display: flex;
	flex-direction: column;
	width: 20rem;
	gap: 2rem;
	padding: 0 2rem 0 2rem;
}

.home-left{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.home-welcome-message{
	font-weight: 600;
	font-size: 1.7rem;
}

.home-text{
	font-size: 1rem;
	line-height: 1.3rem;
}

.home-learn-more{
	height: 2rem;
	width: 8rem;
	color: var(--foreground);
	background-color: var(--background);
	outline: none;
	border: 3px #3B0050 solid;
	border-radius: 25rem;
	font-family: 'Poppins', sans-serif;
	font-size: 0.6rem;
	font-weight: 500;
	transition: 0.2s;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.home-learn-more:hover{
	cursor: pointer;
	background-color: #3B0050;
}

.home-image{
	height: auto;
	width: 18rem;
	filter: drop-shadow(0 0 50px #31047B);
}

.domains{
	height: 165vh;
}

.domains-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	padding: 0 1rem 0 1rem;
}

.domains-title{
	font-size: 1.7rem;
	font-weight: 600;
	text-align: center;
}

.domains-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem;
}

.domains-card{
	height: 15rem;
	width: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	border-radius: 1.5rem;
	box-shadow: 0 0 50px 10px #31047B;
}

.domains-card-title{
	font-weight: 600;
	font-size: 1.2rem;
}

.domains-card-text{
	text-align: center;
	font-size: 0.8rem;
	width: 12rem;
}

.testimonials{
	height: 105vh;
}

.testimonials-container{
	display: flex;
	flex-direction: column;
	gap: 4rem;
	align-items: center;
}

.testimonials-title{
	font-size: 2rem;
	font-weight: 600;
}

.testimonials-carousel{
	height: 40%;
	width: 50rem;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#testimonials-slider{
	display: flex;
	transition: 0.5s ease-in-out;
}

.testimonials-carousel-page{
	height: 100%;
	width: 50rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.7rem;
}

.testimonials-card{
	background-color: #5D5FEF;
	height: 12rem;
	width: 35%;
	border-radius: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.testimonials-card-content{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 40%;
}

.testimonials-card-title{
	font-weight: 600;
	font-size: 1.5rem;
}

.testimonials-card-text{
	height: 6.25rem;
	width: 130%;
	font-size: 0.7rem;
}

.testimonials-card img{
	height: auto;
	width: 30%;
}

.testimonials-pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.testimonials-pagination img:hover{
	cursor: pointer;
}

.testimonials-pagination-pages{
	display: flex;
	gap: 2rem;
}

.testimonials-pagination-pages div{
	height: 1.3rem;	
	width: 1.3rem;
	border: 4px solid #5FFBF1;
	border-radius: 50%;
}

.testimonials-pagination-pages div:hover{
	cursor: pointer;
}

.in-use{
	background-color: #5D5FEF;
	border: 4px solid #5D5FEF !important;
	border: 0;
}

@media (min-width: 1100px){
	.navbar{
		position: absolute;
		top: 2.8rem;
	}

	.navbar-stick{
		position: fixed;
		top: 0px;
	}

	.navbar-left{
		position: absolute;
		left: 4.5rem;
	}

	.navbar-logo{
		font-size: 2.5rem;
	}

	.navbar-buttons-pc{
		position: absolute;
		right: 5rem;
		display: flex;
		gap: 0.2rem;
	}

	.navbar-buttons-pc a{
		text-decoration: none;
		text-align: center;
		width: 9rem;
		color: var(--foreground);
		font-weight: 500;
		font-size: 1.3rem;
		transition: 0.2s;
		border-radius: 0.41rem;
	}

	.navbar-buttons-pc a:hover{
		cursor: pointer;
		background-color: var(--foreground);
		color: var(--background);
	}

	.navbar-button-menu{
		display: none;
	}

	.navbar-buttons-menu{
		display: none;
	}

	.register{
		bottom: -14rem;
	}

	.home{
		height: 130vh;
	}

	.home-image{
		height: initial;
		width: initial;
	}

	.home-welcome-message{
		font-size: 2.5rem;
	}

	.home-text{
		line-height: 2.3rem;
	}

	.home-learn-more{
		position: relative;
		top: 6rem;
		height: 4rem;
		width: 16rem;
		color: var(--foreground);
		background-color: var(--background);
		outline: none;
		border: 5px #3B0050 solid;
		border-radius: 25rem;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;
		font-weight: 500;
		transition: 0.2s;
		box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
	}

	.home-container{
		position: relative;
		top: -5rem;
		flex-direction: row;
		width: 80rem;
	}
	
	.domains{
		height: 100vh;
	}

	.domains-container{
		gap: 7rem;
	}

	.domains-title{
		font-size: 4rem;
	}

	.domains-list{
		gap: 4rem;
	}

	.domains-card{
		height: 20rem;
		width: 20rem;
	}

	.domains-title{
		font-size: 4rem;
	}

	.domains-card-title{
		font-size: 1.5rem;
	}

	.domains-card-text{
		font-size: initial;
		width: 15rem;
	}

	.testimonials{
		height: 100vh;
	}

	.testimonials-title{
		font-size: 4rem;
	}

	.testimonials-carousel{
		height: 20rem;
		width: 74rem;
	}
	
	.testimonials-card{
		width: 34rem;
		height: 17rem;
		gap: 3rem;
	}

	.testimonials-card-content{
		gap: 2.5rem;
		width: initial;
	}

	.testimonials-card-title{
		font-size: 1.5rem;
	}

	.testimonials-card-text{
		height: 6.25rem;
		width: 16.25rem;
		font-size: initial;
	}

	.testimonials-card img{
		height: initial;
		width: initial;
	}

	.testimonials-carousel-page{
		flex-direction: row;
		width: 74rem;
		gap: 3rem;
	}

	.testimonials-pagination{
		display: flex;
		align-items: center;
		gap: 4.5rem;
	}

	.testimonials-pagination-pages{
		gap: 4rem;
	}
}

/* animate on scroll */
.hidden{
	opacity: 0;
	transition: all 2s;
}

.show{
	opacity: 1;
}
